.container-fluid{
    padding-left:300px;
    padding-right:300px;
}

#top-navigation{
    margin-bottom: 20px;

}

#page-container{
 
}

#bottom-container{
    margin-top: 20px;
;
}

b, strong{
    font-weight: bold !important;
  }

a {
    color: orange;
}

.stats-list{
    list-style-type:none;
}

.stats-list li{
    display:inline;
    margin-left:20px;
    margin-right:20px;
}
@media only screen and (max-width: 1230px) {
    .container-fluid{
    padding-left:100px;
    padding-right:100px;
	}
}

@media only screen and (max-width: 851px) {
    .container-fluid{
    padding-left:20px;
    padding-right:20px;
	}
}